
@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss-primeui";

body {
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  h1 {
    @apply text-4xl font-bold py-4;
  }

  h2 {
    @apply text-3xl font-bold py-3;
  }

  h3 {
    @apply text-2xl font-bold pt-6;
  }
}